{% extends 'navigation.html' %} 
{% block body %}

<body class="h-100 text-center  text-dark bg-dark" data-new-gr-c-s-check-loaded="14.1004.0" data-gr-ext-installed="" style="color:#55ee97;">
    <div class="cover-container d-flex  h-5 p-3 mx-auto flex-column" style='width:80%; margin-top: 3%;'>
<main class="px-3 "  >
    <h1 style="color:#e27a03; font-weight: bolder; font-size:xx-large;">Why we are Here.</h1>
    <p class="lead"><b>
        If You are Youtuber or Influencer  don't  limit your self to youtube or social media.<br>
        We will create your customize webpage <b>free for first 50 Members </b>.So, launch yourself in sea of internet.
        Stick with us we have something special for you 🎁
        
    </p> 
    
    
    
  </main>
 
</div>
    <h1 style="color:#e27a03; font-weight: bolder; font-size:x-large; " class='mx-1'>Chocolate 🍫 you will get are listed below </h1>
        <ul class="mx-2">
            <li>Having your webpage on Internet will make you more visible to youtube and social media which help you growing faster.</li>
            <li>You can take rating from user which help you knowing your pros and cons .</li>
            <li>Having a Webpage and with Review will make you more authentic <br>
            <b>>Remember:Authenticity is magnetic.</b> </li><br>
           <h3 style="color:#e27a03; "> And extra Candy 🍭</h3>
            Ask your follower or viewer to give Genuine and good Review on your webpage.
            Which will create your good impression to new visitor .<br><br>
           
           <h3 style="color:#e27a03; ">One more 🍬</h3>
            In year 2021 we reached to <b>100K visitor through organic SEO.</b> So, We will also give you extra reach.

        </ul>
        And if You reached here then surrrrpriiiise:<br>
        <b> We will give advise and assistance of our social media and technical team free for first 100 users.</b>
        <br><br>
        
   <h3 style="color:#e27a03; "> Don't Think register <a href="" style="text-decoration: none; color: red;"> here</a> to get your customize webpage.</h3>
   
</body>

{% endblock body %} 